
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #2563eb;
    color: white;
}

.header h2 a{
    text-decoration: none;
    color:#ffffff;
}

.nav-links a{

    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-style: italic;
    font-family: "Poppins", sans-serif;
    font-weight: 300;

}

.nav-links a:hover{
    color: #f59e0b;
}