.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #2563eb;
    color: white;
}

.nav-links a{

    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;

}

.nav-links a:hover{
    color: #f59e0b;
}