.product-card{
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    min-height:310px;
    position: relative;
}

.cta-design{
    position:absolute;
    bottom: 0px;
    width:100%;
    bottom:20px;
    left: 0;
}

.product-card img{
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.product-card h3{
    font-size:16px;
    color:rgb(51, 51, 51);
    
}

.product-card p{
    font-size:16px;
   color:#6b7280
}



.product-card button{
    margin-top: 10px;
    padding: 8px 12px;
    border: none;
    background: #f59e0b;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.product-card button:hover{
    background: darkorange
}
