.product-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap:20px;
    padding: 40px;
    position: relative;
}

.product-container a{
    text-decoration: none;
}

.search-box{
    margin: 20px;
    padding: 10px;
   
    border-radius:4px;
    width:100%;
}